In [1]:
import ipywidgets as widgets
from IPython.display import display
from ipywidgets import interact
import pandas as pd
import psycopg2 as pg
import sqlalchemy
from sqlalchemy import create_engine
import datetime
import sqlite3 as sql
import os

### Conexão com o banco de dados

In [5]:
cnx = 'postgresql://postgres:abacadaba12@localhost/Projeto'
sqlalchemy.create_engine(cnx)

Engine(postgresql://postgres:***@localhost/Projeto)

In [6]:
con = pg.connect(host='localhost', dbname= 'postgres', user='postgres', password= 'abacadaba12')

In [4]:
#%reload_ext sql

cnx = 'postgresql://postgres:abacadaba12@localhost/Projeto'
#engine = sqlalchemy.create_engine(cnx)


#os.environ["DB_HOST"] = "localhost"
#os.environ["DB_PORT"] = "5432"
#os.environ["DB_NAME"] = "Projeto"
#os.environ["DB_USER"] = "paugu"
#os.environ["DB_PASSWORD"] = "abacadaba12"

#conn = pg.connect(
#    host=os.environ["DB_HOST"],
#    port=os.environ["DB_PORT"],
#    dbname=os.environ["DB_NAME"],
#    user=os.environ["DB_USER"],
#    password=os.environ["DB_PASSWORD"]
#)

#"SELECT COUNT(*) AS quantidade_de_tabelas FROM information_schema.tables WHERE table_schema = 'perfil'"
df = pd.read_sql_query("SELECT COUNT(*) AS quantidade_de_tabelas FROM information_schema.tables WHERE table_schema = 'perfil'", con=cnx)
df


#%sql $engine.url
#%sql SELECT * FROM perfil.perfil_filiado WHERE sg_partido = 'UP'
#con = pg.connect(host='localhost', dbname= 'postgres', user='postgres', password= 'abacadaba12')

#query = 'SELECT * FROM perfil.perfil_filiado' 
#new_df = pd.read_sql(query, engine)
#new_df.head(3)

   quantidade_de_tabelas
0                      1

In [5]:
#%reload_ext sql

cnx = 'postgresql://postgres:abacadaba12@localhost/Projeto'
#engine = sqlalchemy.create_engine(cnx)


#os.environ["DB_HOST"] = "localhost"
#os.environ["DB_PORT"] = "5432"
#os.environ["DB_NAME"] = "Projeto"
#os.environ["DB_USER"] = "paugu"
#os.environ["DB_PASSWORD"] = "abacadaba12"

#conn = pg.connect(
#    host=os.environ["DB_HOST"],
#    port=os.environ["DB_PORT"],
#    dbname=os.environ["DB_NAME"],
#    user=os.environ["DB_USER"],
#    password=os.environ["DB_PASSWORD"]
#)

#"SELECT COUNT(*) AS quantidade_de_tabelas FROM information_schema.tables WHERE table_schema = 'perfil'"
df = pd.read_sql_query("SELECT COUNT(*) AS quantidade_de_tabelas FROM information_schema.tables WHERE table_schema = 'delegados'", con=cnx)
df


#%sql $engine.url
#%sql SELECT * FROM perfil.perfil_filiado WHERE sg_partido = 'UP'
#con = pg.connect(host='localhost', dbname= 'postgres', user='postgres', password= 'abacadaba12')

#query = 'SELECT * FROM perfil.perfil_filiado' 
#new_df = pd.read_sql(query, engine)
#new_df.head(3)

   quantidade_de_tabelas
0                     37

In [6]:
#%reload_ext sql

cnx = 'postgresql://postgres:abacadaba12@localhost/Projeto'
#engine = sqlalchemy.create_engine(cnx)


#os.environ["DB_HOST"] = "localhost"
#os.environ["DB_PORT"] = "5432"
#os.environ["DB_NAME"] = "Projeto"
#os.environ["DB_USER"] = "paugu"
#os.environ["DB_PASSWORD"] = "abacadaba12"

#conn = pg.connect(
#    host=os.environ["DB_HOST"],
#    port=os.environ["DB_PORT"],
#    dbname=os.environ["DB_NAME"],
#    user=os.environ["DB_USER"],
#    password=os.environ["DB_PASSWORD"]
#)

#"SELECT COUNT(*) AS quantidade_de_tabelas FROM information_schema.tables WHERE table_schema = 'perfil'"
df = pd.read_sql_query("SELECT COUNT(*) AS quantidade_de_tabelas FROM information_schema.tables WHERE table_schema = 'orgaos'", con=cnx)
df


#%sql $engine.url
#%sql SELECT * FROM perfil.perfil_filiado WHERE sg_partido = 'UP'
#con = pg.connect(host='localhost', dbname= 'postgres', user='postgres', password= 'abacadaba12')

#query = 'SELECT * FROM perfil.perfil_filiado' 
#new_df = pd.read_sql(query, engine)
#new_df.head(3)

   quantidade_de_tabelas
0                     37

In [7]:




#%reload_ext sql

cnx = 'postgresql://postgres:abacadaba12@localhost/Projeto'
#engine = sqlalchemy.create_engine(cnx)


#os.environ["DB_HOST"] = "localhost"
#os.environ["DB_PORT"] = "5432"
#os.environ["DB_NAME"] = "Projeto"
#os.environ["DB_USER"] = "paugu"
#os.environ["DB_PASSWORD"] = "abacadaba12"

#conn = pg.connect(
#    host=os.environ["DB_HOST"],
#    port=os.environ["DB_PORT"],
#    dbname=os.environ["DB_NAME"],
#    user=os.environ["DB_USER"],
#    password=os.environ["DB_PASSWORD"]
#)

#"SELECT COUNT(*) AS quantidade_de_tabelas FROM information_schema.tables WHERE table_schema = 'perfil'"
df = pd.read_sql_query("SELECT table_name, COUNT(*) AS quantidade_de_atributos FROM information_schema.columns WHERE table_schema = 'perfil'GROUP BY table_name ORDER BY table_name;"
, con=cnx)
df


#%sql $engine.url
#%sql SELECT * FROM perfil.perfil_filiado WHERE sg_partido = 'UP'
#con = pg.connect(host='localhost', dbname= 'postgres', user='postgres', password= 'abacadaba12')

#query = 'SELECT * FROM perfil.perfil_filiado' 
#new_df = pd.read_sql(query, engine)
#new_df.head(3)

       table_name  quantidade_de_atributos
0  perfil_filiado                       21

In [8]:




#%reload_ext sql

cnx = 'postgresql://postgres:abacadaba12@localhost/Projeto'
#engine = sqlalchemy.create_engine(cnx)


#os.environ["DB_HOST"] = "localhost"
#os.environ["DB_PORT"] = "5432"
#os.environ["DB_NAME"] = "Projeto"
#os.environ["DB_USER"] = "paugu"
#os.environ["DB_PASSWORD"] = "abacadaba12"

#conn = pg.connect(
#    host=os.environ["DB_HOST"],
#    port=os.environ["DB_PORT"],
#    dbname=os.environ["DB_NAME"],
#    user=os.environ["DB_USER"],
#    password=os.environ["DB_PASSWORD"]
#)

#"SELECT COUNT(*) AS quantidade_de_tabelas FROM information_schema.tables WHERE table_schema = 'perfil'"
df = pd.read_sql_query("SELECT table_name, COUNT(*) AS quantidade_de_atributos FROM information_schema.columns WHERE table_schema = 'delegados'GROUP BY table_name ORDER BY table_name;"
, con=cnx)
df


#%sql $engine.url
#%sql SELECT * FROM perfil.perfil_filiado WHERE sg_partido = 'UP'
#con = pg.connect(host='localhost', dbname= 'postgres', user='postgres', password= 'abacadaba12')

#query = 'SELECT * FROM perfil.perfil_filiado' 
#new_df = pd.read_sql(query, engine)
#new_df.head(3)

                           table_name  quantidade_de_atributos
0            delegado_partidario_agir                       14
1          delegado_partidario_avante                       14
2       delegado_partidario_cidadania                       14
3              delegado_partidario_dc                       14
4             delegado_partidario_dem                       14
5             delegado_partidario_mdb                       14
6            delegado_partidario_novo                       14
7        delegado_partidario_patriota                       14
8             delegado_partidario_pcb                       14
9           delegado_partidario_pcdob                       14
10            delegado_partidario_pco                       14
11            delegado_partidario_pdt                       14
12            delegado_partidario_phs                       14
13             delegado_partidario_pl                       14
14            delegado_partidario_pmb                       14
15            delegado_partidario_pmn                       14
16           delegado_partidario_pode                       14
17             delegado_partidario_pp                       14
18            delegado_partidario_ppl                       14
19           delegado_partidario_pros                       14
20            delegado_partidario_prp                       14
21           delegado_partidario_prtb                       14
22            delegado_partidario_psb                       14
23            delegado_partidario_psc                       14
24            delegado_partidario_psd                       14
25           delegado_partidario_psdb                       14
26            delegado_partidario_psl                       14
27           delegado_partidario_psol                       14
28           delegado_partidario_pstu                       14
29             delegado_partidario_pt                       14
30            delegado_partidario_ptb                       14
31             delegado_partidario_pv                       14
32           delegado_partidario_rede                       14
33   delegado_partidario_republicanos                       14
34  delegado_partidario_solidariedade                       14
35          delegado_partidario_uniao                       14
36             delegado_partidario_up                       14

In [9]:




#%reload_ext sql

cnx = 'postgresql://postgres:abacadaba12@localhost/Projeto'
#engine = sqlalchemy.create_engine(cnx)


#os.environ["DB_HOST"] = "localhost"
#os.environ["DB_PORT"] = "5432"
#os.environ["DB_NAME"] = "Projeto"
#os.environ["DB_USER"] = "paugu"
#os.environ["DB_PASSWORD"] = "abacadaba12"

#conn = pg.connect(
#    host=os.environ["DB_HOST"],
#    port=os.environ["DB_PORT"],
#    dbname=os.environ["DB_NAME"],
#    user=os.environ["DB_USER"],
#    password=os.environ["DB_PASSWORD"]
#)

#"SELECT COUNT(*) AS quantidade_de_tabelas FROM information_schema.tables WHERE table_schema = 'perfil'"
df = pd.read_sql_query("SELECT table_name, COUNT(*) AS quantidade_de_atributos FROM information_schema.columns WHERE table_schema = 'orgaos'GROUP BY table_name ORDER BY table_name;"
, con=cnx)
df


#%sql $engine.url
#%sql SELECT * FROM perfil.perfil_filiado WHERE sg_partido = 'UP'
#con = pg.connect(host='localhost', dbname= 'postgres', user='postgres', password= 'abacadaba12')

#query = 'SELECT * FROM perfil.perfil_filiado' 
#new_df = pd.read_sql(query, engine)
#new_df.head(3)

                        table_name  quantidade_de_atributos
0            orgao_partidario_agir                       32
1          orgao_partidario_avante                       32
2       orgao_partidario_cidadania                       32
3              orgao_partidario_dc                       32
4             orgao_partidario_dem                       32
5             orgao_partidario_mdb                       32
6            orgao_partidario_novo                       32
7        orgao_partidario_patriota                       32
8             orgao_partidario_pcb                       32
9           orgao_partidario_pcdob                       32
10            orgao_partidario_pco                       32
11            orgao_partidario_pdt                       32
12            orgao_partidario_phs                       32
13             orgao_partidario_pl                       32
14            orgao_partidario_pmb                       32
15            orgao_partidario_pmn                       32
16           orgao_partidario_pode                       32
17             orgao_partidario_pp                       32
18            orgao_partidario_ppl                       32
19           orgao_partidario_pros                       32
20            orgao_partidario_prp                       32
21           orgao_partidario_prtb                       32
22            orgao_partidario_psb                       32
23            orgao_partidario_psc                       32
24            orgao_partidario_psd                       32
25           orgao_partidario_psdb                       32
26            orgao_partidario_psl                       32
27           orgao_partidario_psol                       32
28           orgao_partidario_pstu                       32
29             orgao_partidario_pt                       32
30            orgao_partidario_ptb                       32
31             orgao_partidario_pv                       32
32           orgao_partidario_rede                       32
33   orgao_partidario_republicanos                       32
34  orgao_partidario_solidariedade                       32
35          orgao_partidario_uniao                       32
36             orgao_partidario_up                       32

In [27]:
cnx = 'postgresql://postgres:abacadaba12@localhost/Projeto'

query = """
SELECT relname AS "relation", pg_size_pretty(pg_total_relation_size(C.oid)) AS "total_size"
FROM pg_class C
LEFT JOIN pg_namespace N ON (N.oid = C.relnamespace)
WHERE nspname NOT IN ('pg_catalog', 'information_schema') AND C.relkind <> 'i' AND nspname !~ '^pg_toast'
ORDER BY pg_total_relation_size(C.oid) DESC;
"""
df = pd.read_sql_query(query, con = cnx)

df

                    relation  total_size
0             perfil_filiado     2513 MB
1       orgao_partidario_mdb      184 MB
2      orgao_partidario_psdb      104 MB
3       orgao_partidario_pdt       95 MB
4        orgao_partidario_pt       93 MB
..                       ...         ...
70    delegado_partidario_up       16 kB
71   delegado_partidario_pmb       16 kB
72  delegado_partidario_novo       16 kB
73  delegado_partidario_rede       16 kB
74    orgao_partidario_uniao  8192 bytes

[75 rows x 2 columns]

### Definição das consultas

Vamos exibir o resultado das consultas para retornar os dados do dataset.

In [8]:
cnx = 'postgresql://postgres:abacadaba12@localhost/Projeto'

query = """

SELECT SQ_ORGAO_PARTIDARIO, SG_PARTIDO, NR_PARTIDO, NM_PARTIDO, CD_TIPO_ORGAO_PARTIDARIO, NM_TIPO_ORGAO_PARTIDARIO, CD_TIPO_ABRANGENCIA, DS_TIPO_ABRANGENCIA, DT_INICIO_VIGENCIA, DT_FIM_VIGENCIA, NM_SIT_ORGAO_PARTIDARIO, SG_UF, SG_UE, NM_UE, CD_MUNICIPIO, NM_MUNICIPIO, DS_ENDERECO_ORGAO, NR_CEP_ORGAO, NR_FONE_FIXO_ORGAO, NR_FONE_CEL_ORGAO, NR_FONE_COMERCIAL_ORGAO, NR_FAX_ORGAO, TX_EMAIL_ORGAO, SQ_CARGO_MEMBRO, DS_CARGO_MEMBRO, SQ_MEMBRO, NM_MEMBRO, DT_INICIO_EXERCICIO_MEMBRO, DT_FIM_EXERCICIO_MEMBRO, ST_MEMBRO FROM orgaos.orgao_partidario_PDT WHERE SG_PARTIDO = 'PDT' AND SG_UF = 'SP' ORDER BY NM_PARTIDO;
"""
df = pd.read_sql_query(query, con = cnx)

df

,sq_orgao_partidario,sg_partido,nr_partido,nm_partido,cd_tipo_orgao_partidario,nm_tipo_orgao_partidario,cd_tipo_abrangencia,ds_tipo_abrangencia,dt_inicio_vigencia,dt_fim_vigencia,...,nr_fone_comercial_orgao,nr_fax_orgao,tx_email_orgao,sq_cargo_membro,ds_cargo_membro,sq_membro,nm_membro,dt_inicio_exercicio_membro,dt_fim_exercicio_membro,st_membro
0,199454,PDT,12,PARTIDO DEMOCRÁTICO TRABALHISTA,472,ÓRGÃO PROVISÓRIO,83,MUNICIPAL,22/05/2000,05/01/2018,...,-1,-1,#NULO#,79335,MEMBRO,2048243,LUIZ GONÇALVES MENDES,11/06/2012,05/01/2018,Não informado
1,199454,PDT,12,PARTIDO DEMOCRÁTICO TRABALHISTA,472,ÓRGÃO PROVISÓRIO,83,MUNICIPAL,22/05/2000,05/01/2018,...,-1,-1,#NULO#,62902,MEMBRO,2048244,MARINA DE LUCCA,11/06/2012,05/01/2018,Anotado
2,199454,PDT,12,PARTIDO DEMOCRÁTICO TRABALHISTA,472,ÓRGÃO PROVISÓRIO,83,MUNICIPAL,22/05/2000,05/01/2018,...,-1,-1,#NULO#,68026,MEMBRO,2048245,SILVIA HELENA MAGALHÃES,11/06/2012,05/01/2018,Anotado
3,199454,PDT,12,PARTIDO DEMOCRÁTICO TRABALHISTA,472,ÓRGÃO PROVISÓRIO,83,MUNICIPAL,22/05/2000,05/01/2018,...,-1,-1,#NULO#,64817,MEMBRO,2048246,MARCELO HENRIQUE EVANGELISTA,11/06/2012,05/01/2018,Anotado
4,199454,PDT,12,PARTIDO DEMOCRÁTICO TRABALHISTA,472,ÓRGÃO PROVISÓRIO,83,MUNICIPAL,22/05/2000,05/01/2018,...,-1,-1,#NULO#,66737,MEMBRO,2048236,JOÃO BATISTA GIUNTI,11/06/2012,05/01/2018,Anotado
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13837,382030,PDT,12,PARTIDO DEMOCRÁTICO TRABALHISTA,472,ÓRGÃO PROVISÓRIO,83,MUNICIPAL,03/06/2021,03/12/2021,...,-1,-1,marcelo.ignacio@nobresolucoesambientais.com.br,82342,PRESIDENTE MUNICIPAL,8343717,MARCELO IGNACIO,03/06/2021,03/12/2021,Anotado
13838,382030,PDT,12,PARTIDO DEMOCRÁTICO TRABALHISTA,472,ÓRGÃO PROVISÓRIO,83,MUNICIPAL,03/06/2021,03/12/2021,...,-1,-1,marcelo.ignacio@nobresolucoesambientais.com.br,82302,SECRETÁRIO (A) DE ASSUNTOS DE ORGANIZAÇÃO,8343718,CHARLES EDSON JACOB,03/06/2021,03/12/2021,Anotado
13839,382030,PDT,12,PARTIDO DEMOCRÁTICO TRABALHISTA,472,ÓRGÃO PROVISÓRIO,83,MUNICIPAL,03/06/2021,03/12/2021,...,-1,-1,marcelo.ignacio@nobresolucoesambientais.com.br,82309,SECRETÁRIO (A) DE COMUNICAÇÃO,8343719,VANILDA APARECIDA MENDONÇA,03/06/2021,03/12/2021,Anotado
13840,382030,PDT,12,PARTIDO DEMOCRÁTICO TRABALHISTA,472,ÓRGÃO PROVISÓRIO,83,MUNICIPAL,03/06/2021,03/12/2021,...,-1,-1,marcelo.ignacio@nobresolucoesambientais.com.br,82343,VICE-PRESIDENTE MUNICIPAL,8343720,MATHEUS DOS SANTOS,03/06/2021,03/12/2021,Anotado
13841,382030,PDT,12,PARTIDO DEMOCRÁTICO TRABALHISTA,472,ÓRGÃO PROVISÓRIO,83,MUNICIPAL,03/06/2021,03/12/2021,...,-1,-1,marcelo.ignacio@nobresolucoesambientais.com.br,82280,SECRETÁRIA,8343781,ANGELA MARIA DE OLIVIERA,03/06/2021,03/12/2021,Anotado

In [2]:
cnx = 'postgresql://postgres:abacadaba12@localhost/Projeto'

query = """
        SELECT o.NM_PARTIDO, d.NM_DELEGADO
FROM orgaos.orgao_partidario_pt o
INNER JOIN delegados.delegado_partidario_pt d
ON o.SG_PARTIDO = d.SG_PARTIDO
WHERE o.NM_PARTIDO = 'PARTIDO DOS TRABALHADORES'
GROUP BY o.NM_PARTIDO,d.NM_DELEGADO 
ORDER BY o.NM_PARTIDO;
"""
df = pd.read_sql_query(query, con = cnx)

df

                    nm_partido                                nm_delegado
0    PARTIDO DOS TRABALHADORES                  Francisco de Assis Ávila
1    PARTIDO DOS TRABALHADORES                    ABDALA RIBEIRO DA SILVA
2    PARTIDO DOS TRABALHADORES                 Adailton Oliveira da Costa
3    PARTIDO DOS TRABALHADORES                               ADALTO PAIVA
4    PARTIDO DOS TRABALHADORES              ADEMARCOS MOREIRA DE OLIVEIRA
..                         ...                                        ...
300  PARTIDO DOS TRABALHADORES                   WASHIGTON DA SILVA LIMA
301  PARTIDO DOS TRABALHADORES                      WILLIAN CÉSAR SAMPAIO
302  PARTIDO DOS TRABALHADORES  WILSON GUILHERME CAETANO FONTANA DA SILVA
303  PARTIDO DOS TRABALHADORES                      WRIEL DA SILVA VIEIRA
304  PARTIDO DOS TRABALHADORES             ZELIA MARIA FORNAZIER OLIVEIRA

[305 rows x 2 columns]

In [3]:
cnx = 'postgresql://postgres:abacadaba12@localhost/Projeto'

query = """
SELECT o.NM_PARTIDO, d.NM_DELEGADO
FROM orgaos.orgao_partidario_pt o
INNER JOIN delegados.delegado_partidario_pt d
ON o.SG_PARTIDO = d.SG_PARTIDO
WHERE o.NM_PARTIDO = 'UNIDADE POPULAR'
GROUP BY o.NM_PARTIDO,d.NM_DELEGADO
ORDER BY o.NM_PARTIDO;
"""
df = pd.read_sql_query(query, con = cnx)

df

Empty DataFrame
Columns: [nm_partido, nm_delegado]
Index: []

In [4]:
cnx = 'postgresql://postgres:abacadaba12@localhost/Projeto'

query = """
SELECT o.NM_PARTIDO, d.NM_DELEGADO, o.DT_INICIO_VIGENCIA, o.DT_FIM_VIGENCIA
FROM orgaos.orgao_partidario_pt o
INNER JOIN delegados.delegado_partidario_pt d
ON o.SG_PARTIDO = d.SG_PARTIDO
WHERE o.SG_PARTIDO = 'PT'
GROUP BY o.NM_PARTIDO,d.NM_DELEGADO, o.DT_INICIO_VIGENCIA, o.DT_FIM_VIGENCIA
ORDER BY o.NM_PARTIDO;
"""
df = pd.read_sql_query(query, con = cnx)

df

,nm_partido,nm_delegado,dt_inicio_vigencia,dt_fim_vigencia
0,PARTIDO DOS TRABALHADORES,LUIZ HENRIQUE BELLUCCI PETERLINI,02/02/2008,09/06/2017
1,PARTIDO DOS TRABALHADORES,FERNANDA VIEIRA CRUZ,31/03/1996,30/06/1997
2,PARTIDO DOS TRABALHADORES,FERNANDA VIEIRA CRUZ,28/09/2007,30/05/2011
3,PARTIDO DOS TRABALHADORES,José Francisco Cândido,13/02/2007,09/04/2008
4,PARTIDO DOS TRABALHADORES,ROSELI CORDEIRO EURICH,02/12/2007,14/02/2014
...,...,...,...,...
1626255,PARTIDO DOS TRABALHADORES,CAROLINE SOARES BORGES,09/04/2015,23/06/2017
1626256,PARTIDO DOS TRABALHADORES,ANTÔNIO SEGAN CUBA,11/01/2020,07/12/2023
1626257,PARTIDO DOS TRABALHADORES,AILTON GONÇALVES COSTA,05/02/2020,16/11/2020
1626258,PARTIDO DOS TRABALHADORES,EDIVALDO DE SOUZA MAGALHÃES,11/10/2018,11/02/2019
1626259,PARTIDO DOS TRABALHADORES,ana clara santana santos amorim gonçalves,11/12/2019,30/06/2025

In [14]:
cnx = 'postgresql://postgres:abacadaba12@localhost/Projeto'

query = """
SELECT o.NM_PARTIDO, d.NM_DELEGADO, o.NM_MEMBRO
FROM orgaos.orgao_partidario_pt o
INNER JOIN delegados.delegado_partidario_pt d
ON o.SG_PARTIDO = d.SG_PARTIDO
WHERE o.SG_PARTIDO = 'PT'
GROUP BY o.NM_PARTIDO,d.NM_DELEGADO, o.NM_MEMBRO
ORDER BY o.NM_PARTIDO;
"""
df = pd.read_sql_query(query, con = cnx)

df

,nm_partido,nm_delegado,nm_membro
0,PARTIDO DOS TRABALHADORES,Francisco de Assis Ávila,-MARIA XAVIER BORGES DE OLIVEIRA
1,PARTIDO DOS TRABALHADORES,Francisco de Assis Ávila,ALBINO RIBEIRO DA ROCHA
2,PARTIDO DOS TRABALHADORES,Francisco de Assis Ávila,ANTONIO RIBEIRO DA COSTA
3,PARTIDO DOS TRABALHADORES,Francisco de Assis Ávila,DOMINGOS PEREIRA DA SILVA
4,PARTIDO DOS TRABALHADORES,Francisco de Assis Ávila,ISAURA LEVINA DE SOUSA
...,...,...,...
41346100,PARTIDO DOS TRABALHADORES,ZELIA MARIA FORNAZIER OLIVEIRA,ZUMIRA RODRIGUES
41346101,PARTIDO DOS TRABALHADORES,ZELIA MARIA FORNAZIER OLIVEIRA,ZUMIRO BONAFÉ
41346102,PARTIDO DOS TRABALHADORES,ZELIA MARIA FORNAZIER OLIVEIRA,ZUMMA GRAZIELLE SIDÔNIO FERREIRA
41346103,PARTIDO DOS TRABALHADORES,ZELIA MARIA FORNAZIER OLIVEIRA,ZUNILDA DIAS ARAIJO
41346104,PARTIDO DOS TRABALHADORES,ZELIA MARIA FORNAZIER OLIVEIRA,ZURANEIDE MARIA DE SOUSA PEREIRA

In [15]:
cnx = 'postgresql://postgres:abacadaba12@localhost/Projeto'

query = """
SELECT o.NM_PARTIDO, d.NM_DELEGADO, o.NM_MUNICIPIO
FROM orgaos.orgao_partidario_pt o
INNER JOIN delegados.delegado_partidario_pt d
ON o.SG_PARTIDO = d.SG_PARTIDO
WHERE o.SG_PARTIDO = 'PT'
GROUP BY o.NM_PARTIDO,d.NM_DELEGADO, o.NM_MUNICIPIO
ORDER BY o.NM_PARTIDO;
"""
df = pd.read_sql_query(query, con = cnx)

df

,nm_partido,nm_delegado,nm_municipio
0,PARTIDO DOS TRABALHADORES,BENILDO MARCIO DA SILVA,DOM JOAQUIM
1,PARTIDO DOS TRABALHADORES,ADRIANO DE OLIVEIRA,SIMÃO PEREIRA
2,PARTIDO DOS TRABALHADORES,LUIS VINICIUS DE ARAGAO COSTA,VISTA ALEGRE DO PRATA
3,PARTIDO DOS TRABALHADORES,JOÃO ISRAEL PEREIRA PINTO,FRANCISCO DANTAS
4,PARTIDO DOS TRABALHADORES,SERGIO RICARDO LIMA BEZERRA,SÃO PEDRO DA ÁGUA BRANCA
...,...,...,...
1619545,PARTIDO DOS TRABALHADORES,RAIMUNDO CASTRO DE SOUZA,ARACOIABA
1619546,PARTIDO DOS TRABALHADORES,REGINALDO QUADROS OLIVEIRA,PEDRANÓPOLIS
1619547,PARTIDO DOS TRABALHADORES,LUIZ CARLOS DE OLIVEIRA SILVA,FORTUNA
1619548,PARTIDO DOS TRABALHADORES,juarez coleta de souza,PINHEIROS
1619549,PARTIDO DOS TRABALHADORES,IVÔNIO GASPAR BIZARRO,ARATIBA

In [16]:
cnx = 'postgresql://postgres:abacadaba12@localhost/Projeto'

query = """
SELECT d.SG_PARTIDO, d.NM_DELEGADO, p.qt_filiados
FROM delegados.delegado_partidario_pt d
INNER JOIN perfil.perfil_filiado p
ON d.SG_PARTIDO = p.SG_PARTIDO
WHERE d.SG_PARTIDO = 'PT'
GROUP BY d.SG_PARTIDO, d.NM_DELEGADO, p.qt_filiados
ORDER BY d.SG_PARTIDO;
"""
df = pd.read_sql_query(query, con = cnx)

df

      sg_partido                     nm_delegado  qt_filiados
0             PT      EVERALDO ANUNCIAÇÃO FARIAS           61
1             PT          SILVANIA LIMA OLIVEIRA          208
2             PT  GERALDO LOPES DA SILVA JUNIOR            66
3             PT        WASHIGTON DA SILVA LIMA            22
4             PT    SIMONE MAGALHAES CANVALCANTE           61
...          ...                             ...          ...
39950         PT         David Selhorst da Silva          125
39951         PT             JULIANA ALVES BRITO           17
39952         PT     cristiano tadeu da silveira           43
39953         PT       IZAQUE DAMASO DA SILVEIRA          102
39954         PT   NELSON LUIS BORGES DE BARROS            87

[39955 rows x 3 columns]

In [17]:
cnx = 'postgresql://postgres:abacadaba12@localhost/Projeto'

query = """
SELECT d.SG_PARTIDO, d.NM_DELEGADO, p.NM_MUNICIPIO
FROM delegados.delegado_partidario_pt d
INNER JOIN perfil.perfil_filiado p
ON d.SG_PARTIDO = p.SG_PARTIDO
WHERE d.SG_PARTIDO = 'PT'
GROUP BY d.SG_PARTIDO, d.NM_DELEGADO, p.NM_MUNICIPIO
ORDER BY d.SG_PARTIDO;
"""
df = pd.read_sql_query(query, con = cnx)

df

,sg_partido,nm_delegado,nm_municipio
0,PT,ODAIL MARQUES DE CARVALHO,RIO LARGO
1,PT,ROBERTO DIMAS GARCIA CORREA,MÂNCIO LIMA
2,PT,JOSÉ OSMAR RODRIGUES,PRESIDENTE FIGUEIREDO
3,PT,JANDIRA DE SOUZA OLIVEIRA,DOIS RIACHOS
4,PT,EVERALDO SALVADOR,PRESIDENTE FIGUEIREDO
...,...,...,...
1639065,PT,WILSON GUILHERME CAETANO FONTANA DA SILVA,BANANAL
1639066,PT,OTHON DE SA FUNCHAL BARROS,MUÇUM
1639067,PT,JOSE TADEU PEIXOTO DA COSTA,DATAS
1639068,PT,ANTONIO CARLOS MOREIRA MORENO,MONDAÍ
1639069,PT,JAMIR RODRIGUES ARCO,TRÊS BARRAS

In [18]:
cnx = 'postgresql://postgres:abacadaba12@localhost/Projeto'

query = """
SELECT d.SG_PARTIDO, d.NM_DELEGADO, p.CD_OCUPACAO
FROM delegados.delegado_partidario_pt d
INNER JOIN perfil.perfil_filiado p
ON d.SG_PARTIDO = p.SG_PARTIDO
WHERE d.SG_PARTIDO = 'PT'
GROUP BY d.SG_PARTIDO, d.NM_DELEGADO, p.CD_OCUPACAO
ORDER BY d.SG_PARTIDO;
"""
df = pd.read_sql_query(query, con = cnx)

df

      sg_partido                          nm_delegado cd_ocupacao
0             PT                    EVERALDO SALVADOR         242
1             PT              ABDALA RIBEIRO DA SILVA          68
2             PT       LAURENÇO AGUIAR DO NASCIMENTO           53
3             PT  BIANCA ESTHEFANIE DE OLIVEIRA SOUZA         173
4             PT           OTHON DE SA FUNCHAL BARROS           2
...          ...                                  ...         ...
81430         PT            EDMILSON CARDOSO DA SILVA         116
81431         PT            RAIMUNDO RIBEIRO DA SILVA          29
81432         PT             LILIAN DA SILVA FERREIRA         159
81433         PT        LUIS VINICIUS DE ARAGÃO COSTA         122
81434         PT       LINDALVA SERRÃO E SILVA ARAGÃO         227

[81435 rows x 3 columns]

In [21]:
cnx = 'postgresql://postgres:abacadaba12@localhost/Projeto'

query = """
SELECT d.SG_PARTIDO, d.NM_DELEGADO, p.CD_ESDAO_CIVIL
FROM delegados.delegado_partidario_pt d
INNER JOIN perfil.perfil_filiado p
ON d.SG_PARTIDO = p.SG_PARTIDO
WHERE d.SG_PARTIDO = 'PT'
GROUP BY d.SG_PARTIDO, d.NM_DELEGADO, p.CD_ESDAO_CIVIL
ORDER BY d.SG_PARTIDO;
"""
df = pd.read_sql_query(query, con = cnx)

df

     sg_partido                                nm_delegado cd_esdao_civil
0            PT                        ELSON DA SILVA GREB              3
1            PT              JOÃO CARLOS DE OLIVEIRA PIRAÍ              7
2            PT                               ADALTO PAIVA              1
3            PT                       ÉDIMAR LUIS DE SOUSA              3
4            PT  ana clara santana santos amorim gonçalves              7
...         ...                                        ...            ...
1825         PT             UEVERTON RODRIGO DE SOUZA DIAS              0
1826         PT             CARLOS EDUARDO DOURADO BASTOS               7
1827         PT                       JOSÉ OSMAR RODRIGUES              7
1828         PT                EDIVALDO DE SOUZA MAGALHÃES              7
1829         PT                   JULIO CESAR MAFRA AQUINO              5

[1830 rows x 3 columns]

In [22]:
cnx = 'postgresql://postgres:abacadaba12@localhost/Projeto'

query = """
SELECT d.SG_PARTIDO, d.NM_DELEGADO, p.CD_GENERO
FROM delegados.delegado_partidario_pt d
INNER JOIN perfil.perfil_filiado p
ON d.SG_PARTIDO = p.SG_PARTIDO
WHERE d.SG_PARTIDO = 'PT'
GROUP BY d.SG_PARTIDO, d.NM_DELEGADO, p.CD_GENERO
ORDER BY d.SG_PARTIDO;
"""
df = pd.read_sql_query(query, con = cnx)

df

    sg_partido                             nm_delegado cd_genero
0           PT                    JOSE ANTONIO PEREIRA         0
1           PT       LUIZ EDUARDO RODRIGUES GREENHALGH         0
2           PT  Vitor Henrique Küster Moraes Maximiano         4
3           PT               ELIEZER DE SANTANA SANTOS         4
4           PT                    FERNANDA VIEIRA CRUZ         0
..         ...                                     ...       ...
910         PT                         IZELIA DA SILVA         0
911         PT             SERGIO RICARDO LIMA BEZERRA         2
912         PT                         CLECI LIVINALLI         2
913         PT                  IRINEU PEREIRA SANTOS          2
914         PT                           LUIS VOLOCHEN         4

[915 rows x 3 columns]

### Definição do Formulário do CRUD

Os componentes são salvos em variáveis dos widgets. o campo value da variável acessa o valor que foi preenchido. Por exemplo, na célula abaixo é definido um componente pnome do tipo widgets.Text. O comando pnome.value vai acessar o valor que foi preenchido nessa caixa de texto. Isso serve para todos os componentes.

In [13]:
#campos de texto

#declare esta variável para usar na consulta de campos em branco
flag=''


nm_ue = widgets.Text(
    value = "",
    description='Nome da cidade ou estado do delegado: ',
    disabled=False
)



# botão com descrição 

button3 = widgets.Button(description="Consultar", value='')


        
# consultar        
# neste exemplo o método de consulta usa o dataframe do pandas como retorno. Note que a flag é usada para ignorar quando um 
# campo for null (condição é sempre verdadeira). Veja que para cpf, que é uma string, foi usado '{cpf.value})' como parametro
# e para dnr que é numérico, foi usado {dnr.value} (sem aspas simples).
def on_button_clicked_query(b):
    try:
        #query = f"select * from pessoa where ('{cpf.value}'='{flag}' or cpf='{cpf.value}') and ('{nome.value}'='{flag}' or nome like '{nome.value}%')" 
        query = f"select nm_delegado, sg_partido, ds_tipo_abrangencia from delegados.delegado_partidario_agir where nm_ue = '{nm_ue.value}'"
        cnx = 'postgresql://postgres:abacadaba12@localhost/Projeto'
        df = pd.read_sql_query(query, con = cnx)
        output.clear_output()
        display(nm_ue, button3, df)
    except:
        output.clear_output()
        display(nm_ue, button3)
        display("Não foi possível realizar a consulta.")

# Definição de qual botão vai executar a ação
button3.on_click(on_button_clicked_query)

# Saída da tela
output = widgets.Output()

with output:
    output.clear_output()
    display(nm_ue, button3)

output

Output()

In [12]:
#campos de texto

#declare esta variável para usar na consulta de campos em branco
flag=''


nm_ue = widgets.Text(
    value = "",
    description='Nome da cidade ou estado do delegado: ',
    disabled=False
)



# botão com descrição 

button3 = widgets.Button(description="Consultar", value='')


        
# consultar        
# neste exemplo o método de consulta usa o dataframe do pandas como retorno. Note que a flag é usada para ignorar quando um 
# campo for null (condição é sempre verdadeira). Veja que para cpf, que é uma string, foi usado '{cpf.value})' como parametro
# e para dnr que é numérico, foi usado {dnr.value} (sem aspas simples).
def on_button_clicked_query(b):
    try:
        #query = f"select * from pessoa where ('{cpf.value}'='{flag}' or cpf='{cpf.value}') and ('{nome.value}'='{flag}' or nome like '{nome.value}%')" 
        query = f"select nm_delegado, sg_partido, ds_tipo_abrangencia from delegados.delegado_partidario_pt where nm_ue = '{nm_ue.value}'"
        cnx = 'postgresql://postgres:abacadaba12@localhost/Projeto'
        df = pd.read_sql_query(query, con = cnx)
        output.clear_output()
        display(nm_ue, button3, df)
    except:
        output.clear_output()
        display(nm_ue, button3)
        display("Não foi possível realizar a consulta.")

# Definição de qual botão vai executar a ação
button3.on_click(on_button_clicked_query)

# Saída da tela
output = widgets.Output()

with output:
    output.clear_output()
    display(nm_ue, button3)

output

Output()

In [9]:
#campos de texto

#declare esta variável para usar na consulta de campos em branco
flag=''


nm_ue = widgets.Text(
    value = "",
    description='Nome da cidade ou estado do delegado: ',
    disabled=False
)



# botão com descrição 

button3 = widgets.Button(description="Consultar", value='')


        
# consultar        
# neste exemplo o método de consulta usa o dataframe do pandas como retorno. Note que a flag é usada para ignorar quando um 
# campo for null (condição é sempre verdadeira). Veja que para cpf, que é uma string, foi usado '{cpf.value})' como parametro
# e para dnr que é numérico, foi usado {dnr.value} (sem aspas simples).
def on_button_clicked_query(b):
    try:
        #query = f"select * from pessoa where ('{cpf.value}'='{flag}' or cpf='{cpf.value}') and ('{nome.value}'='{flag}' or nome like '{nome.value}%')" 
        query = f"select nm_delegado,sg_partido, ds_tipo_abrangencia from delegados.delegado_partidario_psdb where nm_ue = '{nm_ue.value}'"
        cnx = 'postgresql://postgres:abacadaba12@localhost/Projeto'
        df = pd.read_sql_query(query, con = cnx)
        output.clear_output()
        display(nm_ue, button3, df)
    except:
        output.clear_output()
        display(nm_ue, button3)
        display("Não foi possível realizar a consulta.")

# Definição de qual botão vai executar a ação
button3.on_click(on_button_clicked_query)

# Saída da tela
output = widgets.Output()

with output:
    output.clear_output()
    display(nm_ue, button3)

output

Output()

In [11]:
#campos de texto

#declare esta variável para usar na consulta de campos em branco
flag=''


nm_ue = widgets.Text(
    value = "",
    description='Nome da cidade ou estado do delegado: ',
    disabled=False
)



# botão com descrição 

button3 = widgets.Button(description="Consultar", value='')


        
# consultar        
# neste exemplo o método de consulta usa o dataframe do pandas como retorno. Note que a flag é usada para ignorar quando um 
# campo for null (condição é sempre verdadeira). Veja que para cpf, que é uma string, foi usado '{cpf.value})' como parametro
# e para dnr que é numérico, foi usado {dnr.value} (sem aspas simples).
def on_button_clicked_query(b):
    try:
        #query = f"select * from pessoa where ('{cpf.value}'='{flag}' or cpf='{cpf.value}') and ('{nome.value}'='{flag}' or nome like '{nome.value}%')" 
        query = f"select nm_delegado,sg_partido, ds_tipo_abrangencia from delegados.delegado_partidario_up where nm_ue = '{nm_ue.value}'"
        cnx = 'postgresql://postgres:abacadaba12@localhost/Projeto'
        df = pd.read_sql_query(query, con = cnx)
        output.clear_output()
        display(nm_ue, button3, df)
    except:
        output.clear_output()
        display(nm_ue, button3)
        display("Não foi possível realizar a consulta.")

# Definição de qual botão vai executar a ação
button3.on_click(on_button_clicked_query)

# Saída da tela
output = widgets.Output()

with output:
    output.clear_output()
    display(nm_ue, button3)

output

Output()